<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

    <div class="container">

        <a class="navbar-brand" href="#">
            FFC Cafe
        </a>

        <div class="ms-auto d-flex align-items-center gap-2">

            <a href="{% url 'menu' %}" class="btn btn-light">
                Menu
            </a>

            <a href="{% url 'cart' %}" class="btn btn-warning position-relative">

                Cart

                {% if cart_count > 0 %}
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">

                    {{ cart_count }}

                </span>
                {% endif %}

            </a>

            <a href="{% url 'order_history' %}" class="btn btn-info">
                Orders
            </a>

            <span class="text-white fw-bold">
                {{ request.user.username }}
            </span>

            <a href="{% url 'logout' %}" class="btn btn-danger">
                Logout
            </a>

        </div>

    </div>

</nav>