.menu-card {
    border-radius: 12px;
    transition: 0.3s;
    overflow: hidden;
}

.menu-card:hover {
    transform: scale(1.03);
}

body {
    background-color: #f8f9fa;
}

.menu-card img{
    width: 100%;
}

@media (max-width: 768px){

    .card-title{
        font-size: 18px;
    }

    .menu-card p{
        font-size: 13px;
    }

    .navbar .btn{
        font-size: 12px;
        padding: 4px 8px;
    }

}
